.one {
    background-image: linear-gradient(to right, green, aqua);
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
}

#two {
    background-image: linear-gradient(to right, green, aqua);
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.three {
    background-image: linear-gradient(to right, red, yellow);
    background-color: black;
    color: aqua;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.four {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

label {
    font-weight: bolder;
}

#eight :hover {
    color: cyan;
}

#eight :active {
    color: deepskyblue;
}

#eight {
    font-size: xx-large;
    font-weight: bold;
    direction: rtl;
    text-emphasis: varient;
}

#five:hover {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}

#six:hover {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}

#mubashir {
    background-image: linear-gradient(to right, aqua, orange);
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hadia {
    font-weight: bolder;
    font-size: xx-large;
    color: black;
}

#heighty {
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: linearGradient(to right, aqua, red)
}

#faiq {
    background-image: linear-gradient(to right, aqua, pink);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

#kashif {
    background-image: linear-gradient(to right, orange, green);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

#why {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}