.one {
    background-image: linear-gradient(to right, green, aqua);
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
}

#two {
    background-image: linear-gradient(to right, green, aqua);
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.three {
    background-image: linear-gradient(to right, red, yellow);
    background-color: black;
    color: aqua;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.four {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

label {
    font-weight: bolder;
}

#eight :hover {
    color: cyan;
}

#eight :active {
    color: deepskyblue;
}

#eight {
    font-size: xx-large;
    font-weight: bold;
    direction: rtl;
    text-emphasis: varient;
}

#five:hover {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}

#six:hover {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}